# Dependencies
node_modules/

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Logs & Environment
*.log
.env
.env.local
.env.*.local

# Operating System
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
